In [1]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import requests
from selenium.webdriver.common.by import By

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [13]:
name=[]
artist=[]
upload_date=[]
views=[]

for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[1]'):
    name.append(i.text)   
    
for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[2]'):
    artist.append(i.text)   
    
for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[4]'):
    upload_date.append(i.text)     
    
for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[3]'):
    views.append(i.text)

In [14]:
len(name),len(artist),len(upload_date),len(views)

(30, 30, 30, 30)

In [15]:
df=pd.DataFrame({'Name':name,"Artist":artist,'Views':views,'Upload_date':upload_date})
df

,Name,Artist,Views,Upload_date
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,14.52,"June 17, 2016"
1,"""Despacito""[10]",Luis Fonsi,8.44,"January 12, 2017"
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.91,"October 8, 2016"
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.70,"May 2, 2018"
4,"""See You Again""[20]",Wiz Khalifa,6.27,"April 6, 2015"
5,"""Shape of You""[25]",Ed Sheeran,6.26,"January 30, 2017"
6,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,6.13,"May 24, 2018"
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,5.80,"March 6, 2014"
8,"""Uptown Funk""[30]",Mark Ronson,5.23,"November 19, 2014"
9,"""Gangnam Style""[31]",Psy,5.15,"July 15, 2012"
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,5.11,"February 27, 2018"
11,"""Dame Tu Cosita""[37]",Ultra Records,4.63,"April 5, 2018"
12,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,4.58,"January 31, 2012"
13,"""Axel F""[39]",Crazy Frog,4.54,"June 16, 2009"
14,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,4.05,"June 25, 2018"
15,"""Sugar""[41]",Maroon 5,4.05,"January 14, 2015"
16,"""Lakdi Ki Kathi""[42]",Jingle Toons,4.04,"June 14, 2018"
17,"""Counting Stars""[43]",OneRepublic,4.02,"May 31, 2013"
18,"""Roar""[44]",Katy Perry,4.00,"September 5, 2013"
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,3.93,"June 4, 2010"
20,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,3.84,"May 10, 2011"
21,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.81,"January 26, 2018"
22,"""Sorry""[48]",Justin Bieber,3.80,"October 22, 2015"
23,"""Thinking Out Loud""[49]",Ed Sheeran,3.77,"October 7, 2014"
24,"""Perfect""[50]",Ed Sheeran,3.74,"November 9, 2017"
25,"""Dark Horse""[51]",Katy Perry,3.72,"February 20, 2014"
26,"""Let Her Go""[52]",Passenger,3.66,"July 25, 2012"
27,"""Faded""[53]",Alan Walker,3.63,"December 3, 2015"
28,"""Girls Like You""[54]",Maroon 5,3.61,"May 31, 2018"
29,"""Lean On""[55]",Major Lazer Official,3.60,"March 22, 2015"

In [16]:
driver.close()

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [17]:
driver=webdriver.Chrome()

In [18]:
driver.get('http://www.bcci.tv/')

In [19]:
fixture=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture.click()

In [21]:
upcoming=driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[2]/div[1]/div[2]')
upcoming.click()

In [22]:
series=[]
place=[]
date=[]
time=[]

for i in driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div[2]/h5'):
    series.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div[2]/div[3]'):
    place.append(i.text) 
    
for i in driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div[2]/div[1]/div[1]'):
    date.append(i.text)    
    
for i in driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div[2]/div[1]/div[2]'):
    time.append(i.text)

In [23]:
df=pd.DataFrame({'Series':series,'Place':place,'Date':date,'Time':time})
df

,Series,Place,Date,Time
0,South Africa Women Tour Of India Warm Up Match...,"M Chinnaswamy Stadium, Bengaluru",13 Jun,13:30 IST
1,ICC Mens T20 World Cup 2024,"Central Broward Park & Broward County Stadium,...",15 Jun,20:00 IST
2,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium, Bengaluru",16 Jun,13:30 IST
3,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium, Bengaluru",19 Jun,13:30 IST
4,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium, Bengaluru",23 Jun,13:30 IST

In [24]:
driver.close()

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [38]:
driver=webdriver.Chrome()

In [39]:
driver.get('http://statisticstimes.com/')

In [47]:
clk=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button')
clk.click()

economy=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]').get_attribute("href")
print(economy)
driver.get(economy)

https://statisticstimes.com/economy/india-statistics.php

In [49]:
state_gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
state_gdp.click()

In [51]:
rank=[]
state=[]
GSDP_21_22=[]
GSDP_22_23=[]
share_21_22=[]
GDP=[]

for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]'):
    rank.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]'):
    state.append(i.text)    
    
for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]'):
    GSDP_21_22.append(i.text)  
    
for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]'):
    GSDP_22_23.append(i.text)    
    
for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]'):
    share_21_22.append(i.text)     
    
for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[7]'):
    GDP.append(i.text)

In [52]:
df=pd.DataFrame({'Rank':rank,'State':state,'GSDP(21-22)':GSDP_21_22,'GSDP(22-23)':GSDP_22_23,'Share(21-22)':share_21_22,'GDP($ billion)':GDP})
df

,Rank,State,GSDP(21-22),GSDP(22-23),Share(21-22),GDP($ billion)
0,1,Maharashtra,"3,108,022",-,13.17%,414.928
1,2,Tamil Nadu,"2,071,286","2,364,514",8.78%,276.522
2,3,Karnataka,"1,978,094","2,269,995",8.38%,264.080
3,4,Uttar Pradesh,"1,975,595","2,258,040",8.37%,263.747
4,5,Gujarat,"1,928,683","2,230,609",8.17%,257.484
5,6,West Bengal,"1,329,238","1,531,758",5.63%,177.456
6,7,Rajasthan,"1,193,489","1,365,849",5.06%,159.334
7,8,Andhra Pradesh,"1,148,471","1,303,524",4.87%,153.324
8,9,Telangana,"1,124,204","1,308,034",4.76%,150.084
9,10,Madhya Pradesh,"1,092,964","1,246,471",4.63%,145.913
10,11,Kerala,"934,542","1,046,188",3.96%,124.764
11,12,Delhi,"881,336","1,014,688",3.73%,117.660
12,13,Haryana,"868,905","984,055",3.68%,116.001
13,14,Odisha,"662,886","753,177",2.81%,88.497
14,15,Bihar,"650,302","751,396",2.76%,86.817
15,16,Punjab,"617,192","676,164",2.62%,82.397
16,17,Assam,"411,454","493,167",1.74%,54.930
17,18,Chhattisgarh,"410,525","464,399",1.74%,54.806
18,19,Jharkhand,"358,863","393,722",1.52%,47.909
19,20,Uttarakhand,"267,143","303,781",1.13%,35.664
20,21,Jammu & Kashmir,"193,352","224,226",0.82%,25.813
21,22,Himachal Pradesh,"172,162","191,728",0.73%,22.984
22,23,Goa,"84,266","93,672",0.36%,11.250
23,24,Tripura,"62,550","72,636",0.27%,8.351
24,25,Chandigarh,"46,096","54,285",0.20%,6.154
25,26,Puducherry,"43,810","49,643",0.19%,5.849
26,27,Meghalaya,"38,785","42,697",0.16%,5.178
27,28,Sikkim,"37,557","42,756",0.16%,5.014
28,29,Manipur,"36,594",-,0.16%,4.885
29,30,Arunachal Pradesh,"34,775","39,630",0.15%,4.643
30,31,Nagaland,"31,038","35,643",0.13%,4.144
31,32,Mizoram,"27,824",-,0.12%,3.715
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.385

In [53]:
driver.close()

# 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [54]:
driver=webdriver.Chrome()

In [55]:
driver.get('https://github.com/')

In [56]:
source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
source.click()

In [57]:
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [59]:
title=[]
for i in driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a'):
    title.append(i.text)

In [60]:
len(title)

16

In [61]:
url=[]
for i in driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a'):
    url.append(i.get_attribute('href'))

In [71]:
description=[]
count=[]
language=[]
for i in url:
    driver.get(i)
    try:
        repdesc=driver.find_element(By.XPATH,'//div[@class="BorderGrid-row"][1]/div/div/p')
        description.append(repdesc.text)
    except NoSuchElementException:
        description.append('-')
        
    try:
        repcount=driver.find_element(By.XPATH,'//div[@class="BorderGrid-row"][5]/div/h2/a/span')
        count.append(repcount.text)
    except NoSuchElementException:
        count.append('-')   
        
    try:
        langused=driver.find_element(By.XPATH,'//div[@class="BorderGrid-row"][6]/div/ul')
        language.append(langused.text.replace('\n'," "))
    except NoSuchElementException:
        language.append('-')

In [72]:
len(description),len(count),len(language)

(16, 16, 16)

In [73]:
df=pd.DataFrame({'Title':title,'Description':description,'Count':count,'Language':language})
df

,Title,Description,Count,Language
0,huggingface / lerobot,🤗 LeRobot: End-to-end Learning for Real-World ...,20,Python 98.3% Other 1.7%
1,DaoCloud / public-image-mirror,很多镜像都在国外。比如 gcr 。国内下载很慢，需要加速。,48,Shell 100.0%
2,idootop / mi-gpt,🏠 将小爱音箱接入 ChatGPT 和豆包，改造成你的专属语音助手。,-,-
3,cloudcommunity / Free-Certifications,A curated list of free courses & certifications.,-,-
4,apple / swift-testing,"A modern, expressive testing package for Swift",-,-
5,apple / axlearn,An Extensible Deep Learning Library,-,-
6,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,117,-
7,coollabsio / coolify,An open-source & self-hostable Heroku / Netlif...,-,
8,karpathy / nanoGPT,"The simplest, fastest repository for training/...",36,Python 100.0%
9,xenova / transformers.js,State-of-the-art Machine Learning for the web....,3.8k,
10,litestar-org / litestar,"Production-ready, Light, Flexible and Extensib...",201,Python 99.6% Makefile 0.2% HTML 0.1% CSS 0.1% ...
11,coqui-ai / TTS,🐸💬 - a deep learning toolkit for Text-to-Speec...,149,Python 92.0% Jupyter Notebook 7.5% HTML 0.3% S...
12,3b1b / manim,Animation engine for explanatory math videos,148,Python 96.2% GLSL 3.8%
13,juspay / hyperswitch,An open source payments switch written in Rust...,-,-
14,dortania / OpenCore-Legacy-Patcher,Experience macOS just like before,32,Python 98.3% Other 1.7%
15,AvaloniaUI / Avalonia,"Develop Desktop, Embedded, Mobile and WebAssem...",410,C# 98.3% Objective-C++ 1.2% TypeScript 0.4% Ob...

In [75]:
driver.close()

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [76]:
driver=webdriver.Chrome()

In [77]:
driver.get('https://www.billboard.com/')

In [78]:
chart=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
chart.click()

In [79]:
view=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
view.click()

In [81]:
driver.execute_script('window.scrollBy(0,1000)')

In [82]:
song=[]
artist=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]

for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3'):
    song.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span'):
    artist.append(i.text)  
    
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span'):
    last_week_rank.append(i.text)    
    
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span'):
    peak_rank.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span'):
    weeks_on_board.append(i.text)

In [84]:
len(song),len(artist),len(last_week_rank),len(peak_rank),len(weeks_on_board)

(100, 100, 100, 100, 100)

In [83]:
df=pd.DataFrame({'Song':song,'Artist':artist,'Last_week_rank':last_week_rank,'Peak_rank':peak_rank,'Weeks_on_board':weeks_on_board})
df

,Song,Artist,Last_week_rank,Peak_rank,Weeks_on_board
0,I Had Some Help,Post Malone Featuring Morgan Wallen,1,1,4
1,Houdini,Eminem,-,2,1
2,Million Dollar Baby,Tommy Richman,3,2,6
3,A Bar Song (Tipsy),Shaboozey,4,3,8
4,Not Like Us,Kendrick Lamar,2,1,5
...,...,...,...,...,...
95,Wine Into Whiskey,Tucker Wetmore,90,77,11
96,Heat Stick,Shoreline Mafia Presents OhGeesy & Fenix Flexin,97,97,3
97,Let Your Boys Be Country,Jason Aldean,-,98,1
98,Tu Name,Fuerza Regida,100,66,14
99,loml,Taylor Swift,92,12,7

In [85]:
driver.close()

# 6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [87]:
driver=webdriver.Chrome()

In [88]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [92]:
driver.execute_script('window.scrollBy(0,2000)')

In [93]:
book_name=[]
author_name=[]
volume=[]
publisher=[]
genre=[]

for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]'):
    book_name.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]'):
    author_name.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]'):
    volume.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]'):
    publisher.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]'):
    genre.append(i.text)

In [94]:
len(book_name),len(author_name),len(volume),len(publisher),len(genre)

(100, 100, 100, 100, 100)

In [96]:
df=pd.DataFrame({'Book':book_name,'Author':author_name,'Volume':volume,'Publisher':publisher,'Genre':genre})
df

,Book,Author,Volume,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [97]:
driver.close()

# 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [124]:
driver=webdriver.Chrome()

In [125]:
driver.get('http://www.imdb.com/')

In [127]:
menu=driver.find_element(By.XPATH,'//div[@class="ipc-page-content-container ipc-page-content-container--center navbar__inner"]/label[1]')
menu.click()

In [128]:
tv=driver.find_element(By.XPATH,'/html/body/div[2]/nav/div[2]/aside[1]/div/div[2]/div/div[2]/div[1]/span/label/span[2]')
tv.click()

In [129]:
tv_show=driver.find_element(By.XPATH,'/html/body/div[2]/nav/div[2]/aside[1]/div/div[2]/div/div[2]/div[1]/span/div/div/ul/a[2]/span')
tv_show.click()

In [130]:
url=[]
url_path=driver.find_elements(By.XPATH,'//div[@class="ipc-metadata-list-summary-item__c"]/div/div/div[1]/a')
for i in url_path[0:100]:
    url.append(i.get_attribute('href'))

In [133]:
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[] 
votes=[]

for i in url:
    driver.get(i)
    try:
        names=driver.find_element(By.XPATH,'//div[@class="sc-b7c53eda-0 dUpRPQ"]/h1/span')
        name.append(names.text)
    except NoSuchElementException:
        description.append('-')
        
    try:
        year=driver.find_element(By.XPATH,'//div[@class="sc-b7c53eda-0 dUpRPQ"]/ul/li[2]/a')
        year_span.append(year.text)
    except NoSuchElementException:
        year_span.append('-')
        
    try:
        run=driver.find_element(By.XPATH,'//div[@class="sc-b7c53eda-0 dUpRPQ"]/ul/li[4]')
        run_time.append(run.text)
    except NoSuchElementException:
        run_time.append('-')
        
    try:
        genres=driver.find_element(By.XPATH,'//div[@class="ipc-chip-list__scroller"]')
        genre.append(genres.text)
    except NoSuchElementException:
        genre.append('-')
        
    try:
        rating=driver.find_element(By.XPATH,'//div[@class="sc-491663c0-3 bdjVSf"]/div[2]/div/div/a[1]/span/div/div[2]/div[1]/span[1]')
        ratings.append(rating.text)
    except NoSuchElementException:
        ratings.append('-')
        
    try:
        vote=driver.find_element(By.XPATH,'//div[@class="sc-491663c0-3 bdjVSf"]/div[2]/div/div/a[1]/span/div/div[2]/div[3]')
        votes.append(vote.text)
    except NoSuchElementException:
        votes.append('-')

In [134]:
len(name),len(year_span),len(genre),len(run_time),len(ratings),len(votes)

(100, 100, 100, 100, 100, 100)

In [135]:
df=pd.DataFrame({'Name':name,'Year Span':year_span,'Genre':genre,'Run Time':run_time,'Rating':rating,'Votes':votes})
df

,Name,Year Span,Genre,Run Time,Rating,Votes
0,Breaking Bad,2008–2013,Crime\nDrama\nThriller,45m,<selenium.webdriver.remote.webelement.WebEleme...,
1,Planet Earth II,2016,Documentary,50m,<selenium.webdriver.remote.webelement.WebEleme...,
2,Planet Earth,2006,Documentary\nFamily,49m,<selenium.webdriver.remote.webelement.WebEleme...,
3,Band of Brothers,2001,Drama\nHistory\nWar,1h,<selenium.webdriver.remote.webelement.WebEleme...,
4,Chernobyl,2019,Drama\nHistory\nThriller,41m,<selenium.webdriver.remote.webelement.WebEleme...,
...,...,...,...,...,...,...
95,The Shield,2002–2008,Crime\nDrama\nThriller,45m,<selenium.webdriver.remote.webelement.WebEleme...,89K
96,Berserk,1997–1998,Animation\nAction\nAdventure,23m,<selenium.webdriver.remote.webelement.WebEleme...,54K
97,Battlestar Galactica,2004–2009,Action\nAdventure\nDrama,45m,<selenium.webdriver.remote.webelement.WebEleme...,177K
98,Downton Abbey,2010–2015,Drama\nRomance,1h,<selenium.webdriver.remote.webelement.WebEleme...,226K
99,Shōgun,2024–2026,Adventure\nDrama\nHistory,1h,<selenium.webdriver.remote.webelement.WebEleme...,140K

In [137]:
driver.close()

# 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [194]:
driver=webdriver.Chrome()

In [195]:
driver.get('https://archive.ics.uci.edu/')

In [196]:
datasets=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
datasets.click()

In [206]:
url=[]
statr=0
end=65
for page in range(statr,end):
    url_path=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/h2/a')
    for i in url_path:
        url.append(i.get_attribute('href'))
    next_buttons=driver.find_element(By.XPATH,'//div[@class="btn-group"]/button[2]')

In [207]:
len(url)

650

In [212]:
name=[]
data_type=[]
task=[]
attribute_type=[]
instances=[]
no_of_attributes=[]
year=[]
for i in url:
    driver.get(i)
    try:
        names=driver.find_element(By.XPATH,'//div[@class="flex flex-col"][1]/div[1]/div[2]/div/h1')
        name.append(names.text)
    except NoSuchElementException:
        name.append('-')
        
    try:
        years=driver.find_element(By.XPATH,'//div[@class="flex flex-col"][1]/div[1]/div[2]/h2')
        year.append(years.text.split(' ')[2].split('/')[2])
    except NoSuchElementException:
        year.append('-')  
        
    try:
        dtype=driver.find_element(By.XPATH,'//div[@class="flex flex-col"][1]/div[2]//div[2]/div[1]/p')
        data_type.append(dtype.text)
    except NoSuchElementException:
        data_type.append('-')    
        
    try:
        tasks=driver.find_element(By.XPATH,'//div[@class="flex flex-col"][1]/div[2]//div[2]/div[3]/p')
        task.append(tasks.text)
    except NoSuchElementException:
        task.append('-')
    
    try:
        atype=driver.find_element(By.XPATH,'//div[@class="flex flex-col"][1]/div[2]//div[2]/div[4]/p')
        attribute_type.append(atype.text)
    except NoSuchElementException:
        attribute_type.append('-')
        
    try:
        instance=driver.find_element(By.XPATH,'//div[@class="flex flex-col"][1]/div[2]//div[2]/div[5]/p')
        instances.append(instance.text)
    except NoSuchElementException:
        instances.append('-')    
        
    try:
        n_attributes=driver.find_element(By.XPATH,'//div[@class="flex flex-col"][1]/div[2]//div[2]/div[6]/p')
        no_of_attributes.append(n_attributes.text)
    except NoSuchElementException:
        no_of_attributes.append('-')

In [213]:
len(name),len(data_type),len(task),len(attribute_type),len(instances),len(no_of_attributes),len(year)

(650, 650, 650, 650, 650, 650, 650)

In [214]:
df=pd.DataFrame({'Name':name,'Data type':data_type,'Task':task,'Attribute type':attribute_type,'Instances':instances,'No of attributes':no_of_attributes,'Year':year})
df

,Name,Data type,Task,Attribute type,Instances,No of attributes,Year
0,Iris,Tabular,Classification,Real,150,4,1988
1,Dry Bean,Multivariate,Classification,"Integer, Real",13611,16,2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,2019
4,Raisin,Multivariate,Classification,"Real, Integer",900,7,2023
...,...,...,...,...,...,...,...
645,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
646,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,1995
647,Wine,Tabular,Classification,"Integer, Real",178,13,1991
648,Wine Quality,Multivariate,"Classification, Regression",Real,4898,11,2009
649,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45211,16,2012

In [215]:
driver.close()